.homeContainer {
  text-align: center;

  & .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
  }

  & .link {
    color: #61dafb;
    cursor: pointer;
  }

  & .logo {
    height: 100px;
    pointer-events: none;
  }


}